html {
  position: relative;
  min-height: 100%;
}

body{
  display: flex;
  justify-content: space-around;
}

canvas {
  position: absolute;
  z-index: -1000;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.jumbotron {
  min-height: 80%;
  max-height: 100%;
  min-width: 80%;
  max-width: 100%;
  position: relative;
  background-color: #000000;
  border-top: #ffffff solid;
}

.h1 {
  margin-top: -10%;
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 8vh;
  color: #ffffff;
}

.card-container {
  position: absolute;
  left: 0;
  height: 58%;
  width: 100%;
  overflow-y:auto;
}

.card {
  width: 100%;
  border-radius: 0;
}

.form {
  margin-top: 85%;
}

.progress-bar{
  background-color: #333333;
  position: absolute;
  bottom: 6.8vh;
  left: 0;
  z-index: 2;
}

.progress-bar-bg {
  background-color: #111111;
  position: absolute;
  bottom: 6.8vh;
  left: 0;
  z-index: 1;
}

.btn-add {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4vh; /* Set the fixed height of the footer here */
  line-height: 4vh; /* Vertically center the text there */
  background-color: #333333;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones */
  .h1 {
    font-size: 4vh;
    padding-top: 5%;
  }

  #manual {
    font-family: 'Sriracha', cursive;
    text-align: left;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 20%;
  }

  .card-container {
    position: absolute;
    left: 0;
    height: 68%;
    width: 100%;
    overflow-y:auto;
    overflow-x: hidden;
  }

  .card {
    width: 100%;
  }

  #close-button {
    position: absolute;
    right: 0;
    background-color: #000000;
    margin-right: 1%;
    margin-top: 1%;
    z-index: 1000;
    width: 4vh;
    height: 4vh;
    border-radius: 2vh;
  }

  .close-button-x {
    margin-left: 35%;
    font-size: 2.5vh;
  }

  .card-image {
    width: 100vw;
    height: 9vh;
  }

  .card-body {
    width: 100vw;
    height: 4vh;
  }

  .card-results {
    margin-top: -4.6%;
    margin-left: -6%;
  }

  .form {
    margin-top: 130%;
  }

  .custom-control-label {
    color: #ffffff;
    margin-left: 70%;
    margin-top: -10%;
  }

  .form-input {
    margin-bottom: 2%;
    margin-left: -4%;
  }

  .diameter {
    margin-top: -2%;
    margin-bottom: 2%;
  }
  
  .price {
    max-width: 95%;
    margin-left: 2.8%;
    margin-top: -4%;
    margin-bottom: 2%;
  }

  .jumbotron {
    min-height: auto;
    max-height: auto;
    min-width: 100%;
    max-width: 100%;
    position: relative;
  }

  .progress {
    background-color: #000000; /*Must be the same color as the jumbotron */
    z-index: 1;
  }

  .progress-bar{
    background-color: #333333;
    position: absolute;
    bottom: 6.8vh;
    left: 0;
    z-index: 2;
  }
  
  .progress-bar-bg {
    background-color: #111111;
    position: absolute;
    bottom: 6.8vh;
    left: 0;
    z-index: 1;
  }
}

@media only screen and (max-width: 320px) {
  /* For super old and small mobile phones & iPhone SE */
  .h1 {
    font-size: 4vh;
    padding-top: 5%;
  }

  .card-container {
    position: absolute;
    left: 0;
    height: 62%;
    width: 100%;
    overflow-y:auto;
  }

  .card {
    width: 100%;
  }

  .form {
    margin-top: 125%;
  }

  .jumbotron {
    min-height: 95%;
    max-height: 95%;
    min-width: 100%;
    max-width: 100%;
    position: relative;
  }

  .progress-bar{
    background-color: #333333;
    position: absolute;
    bottom: 6.8vh;
    left: 0;
    z-index: 2;
  }
  
  .progress-bar-bg {
    background-color: #111111;
    position: absolute;
    bottom: 6.8vh;
    left: 0;
    z-index: 1;
  }
}
