.container {
    display: flex;
    width: 100vw;
    height: 85vh;
    justify-content: flex-end;
    flex-direction: column;
}

.radioGroup {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.containerInput {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.averageSize {
    width: 40vw;
}

.amountInput {
    position: absolute;
    width: 80vw;
}

.button {
    align-self: center;
    width: 82vw
}